Source: pe-puppet
Section: admin
Priority: optional
Maintainer: Puppet Labs <info@puppetlabs.com>
Build-Depends: cdbs, debhelper (>> 7), openssl, pe-ruby, pe-facter, pe-hiera
Standards-Version: 3.9.1
Homepage: http://www.puppetlabs.com/

Package: pe-puppet
Architecture: all
Depends: ${misc:Depends}, pe-ruby, pe-facter, pe-hiera, pe-ruby-rgen, pe-ruby-shadow, adduser
Replaces: pe-puppet-agent, pe-puppet-common, pe-puppet-module-tool, pe-rubygem-hiera-puppet
Provides: pe-puppet-agent, pe-puppet-common, pe-puppet-module-tool, pe-rubygem-hiera-puppet
Description: Puppet Enterprise - Puppet Agent
 This package contains the components of Puppet necessary to run a Puppet agent.

Package: pe-puppet-server
Architecture: all
Replaces: pe-puppet-master
Provides: pe-puppet-master
Depends: ${misc:Depends}, pe-ruby, pe-puppet (= ${source:Version}), pe-facter, pe-httpd, pe-passenger
Description: Puppet Enterprise - Puppet Master
 This package contains the components of Puppet necessary to run a Puppet
 master.
