#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

pe_prefix = opt/puppet
pe_etc = etc/puppetlabs
RUBY = /$(pe_prefix)/bin/ruby
pe_libdir = $(shell $(RUBY) -e "puts RbConfig::CONFIG['sitelibdir']" 2>/dev/null)

common-install-indep::
	$(RUBY) $(CURDIR)/install.rb \
	    --destdir=$(CURDIR)/debian/tmp \
	    --configdir=/etc/puppetlabs/puppet \
	    --bindir=/$(pe_prefix)/bin \
	    --mandir=/$(pe_prefix)/share/man \
	    --rdoc \
	    --ri \
	    --man \
	    --configs
	mkdir -p $(CURDIR)/debian/tmp/$(pe_etc)/httpd/conf.d \
	    $(CURDIR)/debian/tmp/var/opt/lib/pe-puppetmaster
	touch $(CURDIR)/debian/tmp/$(pe_etc)/httpd/conf.d/puppetmaster.conf \
	    $(CURDIR)/debian/tmp/var/opt/lib/pe-puppetmaster/config.ru \
	    $(CURDIR)/debian/tmp/$(pe_etc)/puppet/console.conf
	mkdir -p $(CURDIR)/debian/tmp/$(pe_prefix)/share/puppet/ext
	mkdir -p $(CURDIR)/debian/tmp/$(pe_prefix)/share/puppet/modules
	cp -pr $(CURDIR)/ext $(CURDIR)/debian/tmp/$(pe_prefix)/share/puppet
	bash $(CURDIR)/debian/rmshebang.sh $(CURDIR)/debian/tmp/$(pe_prefix)/share/puppet/ext
	bash $(CURDIR)/debian/rmshebang.sh $(CURDIR)/debian/tmp/$(pe_prefix)/$(pe_libdir)/puppet/network/http_server/mongrel.rb
