[Unit]
Description=Puppet Enterprise Puppet agent
After=network.target

[Service]
Type=forking
PIDFile=/var/run/pe-puppet/agent.pid
ExecStart=/opt/puppet/bin/puppet agent
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
