[Unit]
Description=Puppet Enterprise Puppet agent
After=network.target pe-httpd.service

[Service]
Type=simple
ExecStart=/opt/puppet/bin/puppet agent --no-daemonize

[Install]
WantedBy=multi-user.target
